*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  html, body {
    width: 100%;
    min-height: 100%;
    font-family: 'Albert Sans', sans-serif;
    color: #000;
  }
  ul, ol {
    list-style: none;
  }
  
  a:hover, 
  button:hover {
    transition: all .2s ease;
    cursor: pointer;
  }
  
  ul li a,
  a {
    text-decoration: none;
    color: inherit;
  }
   
  img {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
  
  .container {
    width: 90%;
    max-width: 1520px;
    margin: 0 auto;
  }
  main {
    padding-top: 50px;
  }
  
  .logo_wrap {
    width: 100%;
    height: 100%;
    max-width: 209px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
  }
  
  .links {  
    height: 100%;
    display: flex;
    justify-content: space-between;
    gap: 12px;
    li {
        width: 100%;
        height:100%;
        a {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #000;
           
            &:hover {
                svg path{
                    fill: tomato;
                    scale: 1.1;
                }
                color: tomato;
                scale: 1.2;
            }
        }
    }
  }
  .all_others_link {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
   // padding: 50px 0;
  }
  h1 {
    width: 100%;
    height: 100%;
    font-size: 16.7vw;
    text-transform: uppercase;
    font-weight: 700;
    text-align: left;
    margin-block-start: 0;
    margin-block-end: 0;
  }  
  
  h2 {
    text-transform: uppercase;
    font-size: 6vw;
    font-weight: 700;
    margin-block-start: 0;
  }
  
  h3 {
    font-size: 2rem;
    font-weight: 700;
  }
  h4 {
    text-transform: uppercase;
    font-weight: 700;
   
  }
  
  .info {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
  }
  
  .label {
    margin-left: auto;
    padding: 8px 12px;
    border: 1px solid #000;
    border-radius: 1rem;
    font-size: 12px;
    text-transform: uppercase;
    white-space: nowrap;
  }

  .section_title_wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
    border-top: 1px solid #000;
  }
  .latest_3_items {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin-bottom: 192px
  }

  .black_btn {
    background-color: #000;
    max-width: 100px;
    color: #fff;
    text-transform: uppercase;
    padding: 1rem;
    font-size: 14px;
   
  }
  /* Black Running horizontal text============================================ */
  .black_bg {
    overflow: hidden;
    background-color: #000;
    width: 100%;
    color: #fff;
    padding: 20px;
    margin-bottom: 75px;
  }
  .marquee {
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    animation: marquee 10s linear infinite;
   
  }
  .empty_message {
    margin: 50px auto;
  }
  
  @keyframes marquee {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(-50%, 0);
    }
  }
/* =============================================================================== */
  @media screen and (min-width: 1700px) {
		h1 {
			font-size: 287px;
		}
    h2 {
      font-size: 110px;
    }
	}
  